@font-face {
  font-family: 'Wanted Sans';
  src: url('./fonts/WantedSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Wanted Sans';
  src: url('./fonts/WantedSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Wanted Sans';
  src: url('./fonts/WantedSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Wanted Sans';
  src: url('./fonts/WantedSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Wanted Sans';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000 !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}